{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>{% block title %}{% endblock %}</title>
    <!-- BOOTSTRAP  STYLE CSS -->
    <link href="{% static 'signupApp/assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FONT AWESOME STYLE CSS -->
    <link href="{% static 'signupApp/assets/css/font-awesome.css' %}" rel="stylesheet"/>
    <script src="{% static 'signupApp/assests/js/jquery.textarea_autosize.min.js' %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>
<body style="font-family:Verdana">
<div style="padding-top: 18px;" class="container">
    <div class="row ">
    <!--
        <h3 class="text-center" style="color: orange">Notify Me </h3>
        <br/>
        <ul class="text-center mainMenu">
            <li id="menuHome"><a href="{% url 'signupApp:home' %}">HOME</a></li>
            <li id="menuContacts"><a href="{% url 'signupApp:contacts' %}">CONTACTS</a></li>
            <li id="menuChat"><a href="chat.html">CHAT</a></li>
            <li id="menuLogout"><a href="{% url 'signupApp:logout' %}">LOGOUT</a></li>
        </ul>
        <br/><br/>
        -->
        <div class="col-md-3">
                   <div class="panel panel-primary">
                        <div class="panel-heading">
                            MY PROFILE
                        </div>

                        <div class="panel-body contactList">
                            <ul class="media-list">

                                <li class="media active">

                                    <div class="media-body">

                                        <div class="media">
                                            <a class="pull-left" href="#">
                                                <img class="media-object img-circle" style="max-height:45px;"
                                                     src="{% static 'signupApp/assets/img/user.png' %}"/>
                                            </a>
                                            <div class="media-body">
                                                <h5>{{ name }} (<a href="{% url 'signupApp:logout' %}">LOGOUT</a>)</h5>

                                                <small class="text-muted">Online</small>
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
    <div class="col-md-9">
        <h3 class="text-center" style="color: orange;font-size: 55px;">Notify Me </h3>
    </div>
    </div>
<div class="row ">
                {% block content %}{% endblock %}
                {% block footer %}{% endblock %}
            </div>
        </div>
</body>
</html>