{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Notify Me - Contacts
{% endblock %}

{% block content %}
    <style>
        .contactList {
            padding: 0px;
        }

        .contactList li {
            cursor: pointer;
            padding: 5px 5px 5px 15px;
        }

        .contactList li:hover {
            background-color: rgba(243, 194, 103, 0.83);
        }

        .contactList-active {
            background-color: rgba(243, 194, 103, 0.83);
        }

        .contactList h5 {
            margin-bottom: 0px;
        }

        .contactList ul {
            margin-bottom: 0px;
        }

        .nav-tabs li a {
            color: black;
        }

        .btn-group-justified a {
            padding: 10px;
        }
    </style>
    <script>
        $(function () {
            $("#menuContacts a").addClass('menu-active');

            jQuery.each(jQuery('textarea[data-autoresize]'), function () {
                var offset = this.offsetHeight - this.clientHeight;

                var resizeTextarea = function (el) {
                    jQuery(el).css('height', 'auto').css('height', el.scrollHeight + offset);
                };
                jQuery(this).on('keyup input', function () {
                    resizeTextarea(this);
                }).removeAttr('data-autoresize');
            });
        });
    </script>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <!--
            <ul class="panel-heading nav nav-tabs" style="padding: 0px;">
              <li class="active"><a href="#">Recent</a></li>
              <li><a href="#">Contacts</a></li>
              <li><a href="#">Group</a></li>
            </ul>
                -->
            <div style="padding: 0px;" class="panel-heading btn-group btn-group-justified">
                <a href="#" class="btn btn-warning">Recent</a>
                <a href="#" class="btn btn-warning">Contacts</a>
                <a href="#" class="btn btn-warning">Group</a>
            </div>

            <div class="panel-body contactList">
                <ul class="media-list">

                    <li class="media active">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" style="max-height:45px;"
                                         src="{% static 'signupApp/assets/img/user.png' %}"/>
                                </a>
                                <div class="media-body">
                                    <h5>Mayur Ariwala </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" style="max-height:45px;"
                                         src="{% static 'signupApp/assets/img/user.gif' %}"/>
                                </a>
                                <div class="media-body">
                                    <h5>Lalit </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" style="max-height:45px;"
                                         src="{% static 'signupApp/assets/img/user.png' %}"/>
                                </a>
                                <div class="media-body">
                                    <h5>Mayur Ariwala </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" style="max-height:45px;"
                                         src="{% static 'signupApp/assets/img/user.gif' %}"/>
                                </a>
                                <div class="media-body">
                                    <h5>Lalit </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" style="max-height:45px;"
                                         src="{% static 'signupApp/assets/img/user.png' %}"/>
                                </a>
                                <div class="media-body">
                                    <h5>Mayur Ariwala </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle" style="max-height:45px;"
                                         src="{% static 'signupApp/assets/img/user.gif' %}"/>
                                </a>
                                <div class="media-body">
                                    <h5>Lalit </h5>

                                    <small class="text-muted">Active From 3 hours</small>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-md-9">
        <div class="panel panel-info">
            <div class="panel-heading">
                MAYUR ARIWALA
            </div>
            <div class="panel-body">
                <ul class="media-list">

                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle "
                                         src="{% static 'signupApp/assets/img/user.gif' %}"/>
                                </a>
                                <div class="media-body">
                                    dgsdg gsdagasdgas dgsgasdfgdg sdgsgsg sgsgs gsg sgsg sg sg s g sgere3toterte
                                    eotjetoeo
                                    edgedseg gwetgwe4tmet etgetetrtryt hrgy6errsedf tye5rt
                                    <br/>
                                    <small class="text-muted">Lalit | 4th Feb at 2:00pm</small>
                                    <hr/>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-right" href="#">
                                    <img class="media-object img-circle "
                                         src="{% static 'signupApp/assets/img/user.png' %}"/>
                                </a>
                                <div class="media-body text-right">
                                    dgsdg gsdagasdgas dgsgasdfgdg sdgsgsg sgsgs gsg sgsg sg sg s g sgere3toterte
                                    eotjetoeo
                                    edgedseg gwetgwe4tmet etgetetrtryt hrgy6errsedf tye5rt
                                    <br/>
                                    <small class="text-muted pull-right">4th Feb at 2:00pm</small>
                                    <br/>
                                    <hr/>
                                </div>
                            </div>

                        </div>
                    </li>
                    <li class="media">

                        <div class="media-body">

                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-circle "
                                         src="{% static 'signupApp/assets/img/user.gif' %}"/>
                                </a>
                                <div class="media-body">
                                    dgsdg gsdagasdgas dgsgasdfgdg sdgsgsg sgsgs gsg sgsg sg sg s g sgere3toterte
                                    eotjetoeo
                                    edgedseg gwetgwe4tmet etgetetrtryt hrgy6errsedf tye5rt
                                    <br/>
                                    <small class="text-muted">Lalit | 4th Feb at 2:00pm</small>
                                    <hr/>
                                </div>
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <textarea type="text" class="form-control" placeholder="Enter Message" id="txtMessage"
                              name="txtMessage" data-autoresize rows="1"
                              style="resize: none; min-height: 34px;"></textarea>
                                    <span class="input-group-btn" style="vertical-align: top;">
                                        <button class="btn btn-info" type="button">SEND</button>
                                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}