{% extends "base.html" %}

{% block title %}
    Notify Me
{% endblock %}

{% block content %}
    <style>
        .pre-file
        {
            color: orange !important;
            background-color: black !important;
            padding: 10px !important;
            margin-top: 25px !important;
        }
    </style>
    <script>
        $(function(){
            $("#menuHome a").addClass('menu-active');
        });
    </script>
    <div><pre class="pre-file">{{ content }}</pre></div>
{% endblock %}