<style>
    .div-login
    {
        text-align: center;
        position: absolute;
        top: 25%;
        left: 0;
        right: 0;
        background-color: #ccc;
        margin: auto;
    }
    .frm-login
    {
        background-color: #79aec8;
        border-radius: 3px;
        padding: 10px;
        width: 210px;
        margin: auto
    }
    .frm-login input
    {
        margin-bottom: 10px;
    }
    .error_msg_list
    {
        color: red;
        width: 250px;
        margin: auto;
        text-align: left;
    }
</style>
<body class="div-login">
    <h1>Login</h1>
    <form action="{% url 'signupApp:login' %}" class="frm-login" method="post">
        <input type="text" name="txt_email" id="txt_email" placeholder="Email Address" width="100%" />
        <br />
        <input type="password" name="txt_password" id="txt_password" placeholder="Password" width="100%" />
        <br />
        <input type="submit" name="btn_login" id="btn_login" value="Login" />
    </form>
    <br />
    <a href="{% url 'signupApp:signup' %}">Signup</a>
    <br />
    <br />
    <p style="color: red">{{ error_message}}</p>
    <ul class="error_msg_list">
        {% for msg in error_msg %}
            <li>{{ msg }}</li>
        {% endfor %}
    </ul>
</body>