<style>
    .div-signup
    {
        position: absolute;
        margin: auto;
        top: 5%;
        right: 0;
        left: 0;
        width: auto;
        height: auto;
        background-color: #ccc;
        text-align: center;
    }
    .frm-signup
    {
        background-color: #79aec8;
        border-radius: 3px;
        width: 210px;
        padding: 10px;
        margin: auto
    }
    .frm-signup input
    {
        margin-bottom: 15px;
    }
    .error_msg_list
    {
        color: red;
        width: 250px;
        margin: auto;
        text-align: left;
    }
</style>
<body class="div-signup">
    <h1>Signup</h1>
    {% comment %}

    {% endcomment %}
    <form action="{% url 'signupApp:signup' %}" class="frm-signup" method="post">
        <input type="text" name="txt_name" id="txt_name" placeholder="Name" width="100%" value="{{ view_state.txt_name.0 }}" />
        <br />
        <input type="radio" name="rbn_gender" id="rbn_male" value="M" width="100%" {% if view_state.rbn_gender.0 == 'M' %}checked{% endif %} /> <label for="rbn_male">Male</label>
        <input type="radio" name="rbn_gender" id="rbn_female" value="F" width="100%" {% if view_state.rbn_gender.0 == 'F' %}checked{% endif %} /> <label for="rbn_female">Female</label>
        <br />
        <input type="text" name="txt_mobileno" id="txt_mobileno" placeholder="Mobile No" maxlength="10" width="100%" value="{{ view_state.txt_mobileno.0 }}" />
        <br />
        <input type="text" name="txt_email" id="txt_email" placeholder="Email Address" width="100%" value="{{ view_state.txt_email.0 }}" />
        <br />
        <input type="password" name="txt_password" id="txt_password" placeholder="Password" width="100%" />
        <br />
        <input type="password" name="txt_confirm_password" id="txt_confirm_password" placeholder="Confirm Password" width="100%" />
        <br />
        <input type="submit" name="btn_signup" id="btn_signup" value="Signup" />
    </form>
    <br />
    <a href="{% url 'signupApp:login' %}">Login</a>
    <br />
    <br />
    <p style="color: green">{{ success_message }}</p>
    {% if error_message > 0 %}
        <ul class="error_msg_list">
            {% for msg in error_message %}
                <li>{{ msg }}</li>
            {% endfor %}
        </ul>
    {% endif %}

</body>


